<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../public/css/bootstrap.min.css">
      <link rel="stylesheet" href="../public/css/style.css">
      <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">

          <!-- Form Add Task -->
          <div class="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Task Title</label>
              <input type="text" name="title" class="form-control" id="input" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" name="completed" class="form-check-input" id="checkbox">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
          </div>
          <!-- End form add task -->

          <!-- List of tasks -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="radio-all" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              All Task
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="radio-completed" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Completed
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="radio-inprogress" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Inprogress
            </label>
          </div>
          <ul class="list-group d-none"> 
          </ul>
          <nav >
            <ul id="pagination" class="pagination d-none">
              <li class="page-item ">
                <a id="prev-btn" class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a id="page-label" class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a id="next-btn" class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          <h2 class="text-center d-none no-task">There is no task</h2>
          <!-- End list of tasks -->
        </div>
      </div>
    </div>
    <script src="../public/js/axios.js"></script>
    <script src="../public/js/scripts.js"></script>
  </body>
</html> 
    